<footer id="footer">
    <div class="footer-group">
        <div class="footer-group_left">
            <span class="footer-group_img"><img src="/img/Picture1.png" alt="sticker"></span><span class="footer-group_img"><img src="/img/Picture2.png" alt="sticker"></span><span class="footer-group_img"><img src="/img/Picture3.png" alt="sticker"></span><span class="footer-group_img"><img src="/img/Picture4.png" alt="sticker"></span><span class="footer-group_img"><img src="/img/Picture5.png" alt="sticker"></span>
        </div>
        <div class="footer-group_right">
            <span class="footer-group_img"><img src="/img/Picture10.png" alt="sticker"></span><span class="footer-group_img"><img src="/img/Picture9.png" alt="sticker"></span><span class="footer-group_img"><img src="/img/Picture8.png" alt="sticker"></span><span class="footer-group_img"><img src="/img/Picture7.png" alt="sticker"></span><span class="footer-group_img"><img src="/img/Picture6.png" alt="sticker"></span>
        </div>
    </div>
</footer>
<script src="/js/convey.js"></script>