<footer id="footer">
    <div class="footer-group">
        <div class="footer-group_left">

        </div>
        <div class="footer-group_right">

        </div>
    </div>
</footer>
<script src="/js/convey.js"></script>