<header id="header">
    <div class="header over-hidden">
        <h2 class="header-heading">Thành viên ☠️</h2>
        <label for="header-checked" class="header-btn">
            <i class="header-icon fas fa-cog"></i>
        </label>
        <input type="checkbox" id="header-checked" hidden>
        <ol class="header-options">
            <li class="header-item"><a class="header-link" href="/login/auto">Đăng nhập</a></li>
        </ol>
        <label for="header-checked" class="overlay"></label>
    </div>
</header>
<script>
    const headerElement = document.querySelector('.header');
    const inputHeaderElement = document.querySelector('.header #header-checked');
    inputHeaderElement.onchange = () =>{
        if(inputHeaderElement.checked){
            headerElement.classList.remove('over-hidden');
        }else{
            headerElement.classList.add('over-hidden');
        }
    }
</script>