<header id="header">
    <div class="header">
        <h2 class="header-heading">Thành viên ☠️</h2>
        <label for="header-checked" class="header-btn">
            <i class="header-icon fas fa-cog"></i>
        </label>
        <input type="checkbox" id="header-checked" hidden>
        <ol class="header-options">
            <li class="header-item"><a class="header-link" href="/login/auto">Đăng nhập</a></li>
        </ol>
        <label for="header-checked" class="overlay"></label>
    </div>
</header>