<div id="form">
    <div class="form-cover">
        <form action="/login/post" method="POST" id="form-1" class="signup-form">
            <h2 class="form-heading">ฤฤng kรฝ thรnh viรชn <span>โฅ๏ธ</span></h2>
            <span class="form-toggle"><i class="fas fa-caret-left"></i></span>
            <div class="form-invalid">
                <p>ฤฤng kรฝ thแบฅt bแบกi <span>๐ค</span></p>
            </div>
            <div class="form-group">
                <label for="account-signup">Tรi khoแบฃn</label>
                <input type="text" name="account" class="form-control" id="account-signup" autocomplete="username" placeholder="leduc@gmail.com">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="password-signup">Mแบญt khแบฉu</label>
                <input type="password" class="form-control" id="password-signup" autocomplete="current-password" placeholder="Mแบญt khแบฉu">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="confirm-signup">Nhแบญp lแบกi khแบฉu</label>
                <input type="text" name="password" class="form-control" id="confirm-signup" autocomplete="current-password" placeholder="Mแบญt khแบฉu">
                <span class="form-message"></span>
            </div>
            <button type="submit" class="btn btn-primary float-right float-sm-right float-md-left float-lg-left float-xl-left">ฤฤng kรฝ</button>
        </form>
        <form action="/login/pass" method="POST" id="form-2" class="login-form">
            <h2 class="form-heading">ฤฤng nhแบญp ฤแปnh danh <span>โฅ๏ธ</span></h2>
            <div class="form-invalid2">
                <p>ฤฤng nhแบญp thแบฅt bแบกi <span>๐ค</span></p>
            </div>
            <div class="form-group">
                <label for="account">Tรi khoแบฃn</label>
                <input type="text" name="account" class="form-control" id="account" autocomplete="username"  value="{{#if cookies}}{{cookies.account}}{{/if}}" placeholder="leduc@gmail.com">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="password">Mแบญt khแบฉu</label>
                <input type="password" name="password" class="form-control" id="password" autocomplete="current-password"  value="{{#if cookies}}{{cookies.password}}{{/if}}" placeholder="Mแบญt khแบฉu">
                <span class="form-message"></span>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check-remind">
                <label class="form-check-label" for="check-remind">Nhแป tรดi</label>
            </div>
            <button type="submit" class="btn btn-primary mt-4 float-right float-sm-right float-md-left float-lg-left float-xl-left">ฤฤng nhแบญp</button>
        </form>
    </div>
</div>
{{>footer}}
<script src="/validate/validator.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',function(){
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorNotify: '.form-invalid',
            errorSelector: '.form-message',
            rules: [
            Validator.isRequired('#account-signup', 'Vui lรฒng nhแบญp tรi khoแบฃn'),
            Validator.isRequired('#password-signup','Vui lรฒng nhแบญp mแบญt khแบฉu'),
            Validator.isRequired('#confirm-signup','Vui lรฒng nhแบญp mแบญt khแบฉu'),
            Validator.isConfirmed('#confirm-signup', function () {
                    return document.querySelector('#form-1 #password-signup').value;
                }, 'Nhแบญp sai mแบญt khแบฉu')
            ]
        });
        Validator({
            form: '#form-2',
            formGroupSelector: '.form-group',
            errorNotify: '.form-invalid2',
            errorSelector: '.form-message',
            rules: [
            Validator.isRequired('#account', 'Vui lรฒng nhแบญp tรi khoแบฃn'),
            Validator.isRequired('#password','Vui lรฒng nhแบญp mแบญt khแบฉu')
            ]
        });
        const toggleBtn = document.querySelector('.form-toggle');
        const formSignup = document.getElementById('form-1');
        const formSignin = document.getElementById('form-2');
        const iconToggle = toggleBtn.querySelector('i');
        const remindBtn = document.getElementById('check-remind');
        let isAutoLogin = JSON.parse(localStorage.getItem('autoLogin'));
        toggleBtn.onclick = () =>{
            let iconClose = toggleBtn.querySelector('.fas.fa-caret-right');
            if(!iconClose){
                Object.assign(formSignup.style, {
                    animation: 'rightToLeft 0.4s ease-in  forwards'
                });
                iconToggle.classList.add('fa-caret-right');
                toggleBtn.style.left = '0';
            }else{
                Object.assign(formSignup.style, {
                    animation: 'leftToRight 0.4s ease-in  forwards'
                });
                iconToggle.classList.remove('fa-caret-right');
                toggleBtn.style.left = '-24px';
            };
        };
        remindBtn.onchange = () =>{
            if(remindBtn.checked){
                localStorage.setItem('autoLogin', JSON.stringify('true'));
            }else{
                localStorage.removeItem('autoLogin');
            };
        };
        if(isAutoLogin){
            remindBtn.checked = true;
            setTimeout(() =>{
                formSignin.submit();
            }, 2000);
        };
    });
</script>